html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body{
    background-color: brown;
    font-family: 'Arial', Helvetica, sans-serif;
}

.bg-amarillo{
    background-color: yellow;
}
/*sombra*/
.contenedor{
    max-width: 1100px;
    margin: 0 auto;
}

.sombra{
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}
h1,h2{
    font-family: 'Margarine', cursive;
    text-align: center;
    margin: 0 auto;
}
.contenedor-barra{
    background-color: gold;
    color: green;
    text-align: center;
}
form{
    padding: 3rem;
    margin-top: 2rem;
    font-family: 'Margarine', cursive;
}
form legend{
    font-family: 'Margarine', cursive;
    font-size: 2rem;
    text-align: center;   
}
legend span{
    font-size: 1rem;
    margin-top: 1rem;
    clear: both;
    display: block;
    margin-bottom: 2rem;
}
.campo{
    padding: .5rem 0;
}
.campo label{
    font-size: 1.2rem;
}
.campo input[type="text"],
.campo input[type="tel"]{
    widows: 100%;
    border:none;
    padding: .2rem;
    height: 2rem;
    margin-top: .5rem;
}
.enviar{
    display: flex;
    justify-content: center;
}
.campo input[type="submit"]{
    border: none;
    background-color: brown;
    color: white;
    padding: 1rem 4rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: background-color .5s ease-in-out;
    flex: 1;
}
.campo input[type="submit"]:hover{
    cursor: pointer;
    background-color: burlywood;
}
.volver{
    border: none;
    background-color: brown;
    color: white;
    padding: 1rem 4rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    transition: background-color .5s ease-in-out;
}
/*Solo se activa el flex cndo el ancho es de 760px*/
@media (min-width: 760px){
    .campos{
    display: flex;
    justify-content: center;
    }
    .campo{
    flex: 0 0 calc(26.2%)
    }
}

